<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

<div style="font-size: 12px; margin: 0 0 -15px 0; text-align: right">
  <%= link_to '>ページ再読込', hunts_path %>
</div>

<div class="posting_form top_content">
  <h2>釣果マップ</h2>
  <style>
    #map {
      width: 97%;
      height: 400px;
      background-color: grey;
      margin: 5px auto 20px auto;
    }
  </style>
  <div id="map"></div>

  <%= search_form_for @search do |f| %>
    <div>
      <%= f.label "検索開始日〜終了日", style: 'color: #828282; margin: 7px 0 0 0' %>
      <%= f.date_field :created_at_gteq, class: "form-control", style: 'width: 205px' %>
      <%= f.date_field :created_at_lteq, class: "form-control", style: 'width: 205px' %>
      <%= f.label "ポイント：", style: 'color: #828282; margin: 15px 0 10px 0' %>
      <%= select_tag :river_point, options_from_collection_for_select(Riverpoint.all, :id, :riverpoint_name), :prompt => "(選択)", style:  "border: 1px solid rgba(0,0,0, 0.5)" %>
    </div>
    <div class="action">
      <%= f.submit "検索", class: "btn btn--block" do %>
      <% end %>
      <%= link_to '>検索条件クリア', hunts_path %>
    </div>
  <% end %>
</div>

<div style="font-size: 12px; color: #828282">
  ＜検索について＞</br>
  日付の基準は00:00です</br>
  2018/8/1の1日だけ検索する場合は2018/8/1〜2018/8/2と入力</br>
  ポイントは周辺約200mで検索します</br>
  </br>
</div>

<div class="hunt_content">
  <ul>
    <% @hunts.each do |hunt| %>
      <li>
        <%= (hunt.created_at+60*60*9).strftime("%Y/%m/%d %H:%M") %> <%= hunt.user.nickname %></br>
        <a class="photo" href= <%= hunt.fish_photo.url %> data-lightbox="abc" data-title="fish_photo">
          <%= image_tag hunt.fish_photo.url, alt: '',size: '60' %>
        </a>
        <a class="photo" href= <%= hunt.fly_photo.url %> data-lightbox="abc" data-title="fly_photo">
          <%= image_tag hunt.fly_photo.url, alt: '',size: '60' %>
        </a>
        <a class="photo" href= <%= hunt.spot_photo.url %> data-lightbox="abc" data-title="spot_photo">
          <%= image_tag hunt.spot_photo.url, alt: '',size: '60' %>
        </a>
        <%= link_to ">詳細", "/hunts/#{hunt.id}", method: :get %>
      </li>
    <% end %>
  </ul>
</div>

<script>
  function initMap() {
    var yozawa = {lat:35.751834, lng:139.179959};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14.3,
      center: yozawa
    });

    setMarkers(map);
  }

  var hunts_lat = <%= @hunt_lat %>;
  var hunts_lng = <%= @hunt_lng %>;
  var riverpoints_lat = <%= @riverpoint_lat %>;
  var riverpoints_lng = <%= @riverpoint_lng %>;
  // rawメソッドで配列「"」のエスケープ処理をおこなわない
  var riverpoints_name = <%= raw @riverpoint_name %>;

  // マーカー情報の作成
  function setMarkers(map) {
    for (var i = 0; i < riverpoints_lat.length; i++) {
      var riverpoint_lat = riverpoints_lat[i];
      var riverpoint_lng = riverpoints_lng[i];
      var riverpoint_name = riverpoints_name[i];
      var marker = new google.maps.Marker({
        position: {lat: riverpoint_lat, lng: riverpoint_lng},
        map: map,
        icon: {
          fillColor: "#000000",    //塗り潰し色
          fillOpacity: 0.5,        //塗り潰し透過率
          path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, //マーカーを指定
          scale: 3,                //マーカーのサイズ
          strokeColor: "#ffffff",  //枠の色
          strokeWeight: 0.4        //枠の透過率
        },
        label: {
          text: riverpoint_name,
          color: "#5f5f5f",
          fontSize: "1em"
        }
      });
    }
    for (var i = 0; i < hunts_lat.length; i++) {
      var hunt_lat = hunts_lat[i];
      var hunt_lng = hunts_lng[i];
      var marker = new google.maps.Marker({
        position: {lat: hunt_lat, lng: hunt_lng},
        map: map,
        icon: {
          fillColor: "#FF0000",    //塗り潰し色
          fillOpacity: 0.5,        //塗り潰し透過率
          path: google.maps.SymbolPath.CIRCLE, //円を指定
          scale: 4,                //円のサイズ
          strokeColor: "#ffffff",  //枠の色
          strokeWeight: 1.0        //枠の透過率
        },
      });
    }
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @apikey %>&callback=initMap">
</script>
