
  <h2>個別釣果マップ</h2>

  <style>
    #map {
      width: 97%;
      height: 400px;
      background-color: grey;
      margin: 5px auto 20px auto;
    }
  </style>
  <div id="map"></div>

  <div class="hunt_content">
    <ul>
      <li>
        <%= (@hunt.created_at+60*60*9).strftime("%Y/%m/%d %H:%M") %> <%= @hunt.user.nickname %></br>
        <% if @hunt.user_id == current_user.id %>
          <%= @hunt.memo %> <%= link_to ">メモ更新", "/hunts/#{@hunt.id}/edit", method: :get %></br>
          <%= link_to ">釣果削除", "/hunts/#{@hunt.id}", method: :delete, data: { confirm: '釣果を削除しますか？' } %></br>
        <% end %>
        <%= image_tag @hunt.fish_photo.url, alt: '',size: '230' %>
        <%= image_tag @hunt.fly_photo.url, alt: '',size: '230' %>
        <%= image_tag @hunt.spot_photo.url, alt: '',size: '230' %>
      </li>
    </ul>
  </div>

  <div style="font-size: 12px; color: #828282; margin: 10px 5px">
    天気：<%= @hunt.weather_main %></br>
    気温：<%= @hunt.temp %></br>
    気圧：<%= @hunt.pressure %></br>
    湿度：<%= @hunt.humidity %></br>
    風速：<%= @hunt.wind_speed %></br>
  </div>

<script>
  function initMap() {
    var myLatLng = {lat:<%= @hunt.latitude %>, lng:<%= @hunt.longitude %>}
    var riverpoints_lat = <%= @riverpoint_lat %>;
    var riverpoints_lng = <%= @riverpoint_lng %>;
    // rawメソッドで配列「"」のエスケープ処理をおこなわない
    var riverpoints_name = <%= raw @riverpoint_name %>;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: {
        fillColor: "#FF0000",    //塗り潰し色
        fillOpacity: 0.3,        //塗り潰し透過率
        path: google.maps.SymbolPath.CIRCLE, //円を指定
        scale: 15,                //円のサイズ
        strokeColor: "#ffffff",  //枠の色
        strokeWeight: 1.0        //枠の透過率
      },
    });
    for (var i = 0; i < riverpoints_lat.length; i++) {
      var riverpoint_lat = riverpoints_lat[i];
      var riverpoint_lng = riverpoints_lng[i];
      var riverpoint_name = riverpoints_name[i];
      var marker = new google.maps.Marker({
        position: {lat: riverpoint_lat, lng: riverpoint_lng},
        map: map,
        icon: {
          fillColor: "#000000",    //塗り潰し色
          fillOpacity: 0.5,        //塗り潰し透過率
          path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, //マーカーを指定
          scale: 3,                //マーカーのサイズ
          strokeColor: "#ffffff",  //枠の色
          strokeWeight: 0.4        //枠の透過率
        },
        label: {
          text: riverpoint_name,
          color: "#5f5f5f",
          fontSize: "1em"
        }
      });
    }
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= @apikey %>&callback=initMap">
</script>
